<%= form_for [@artist, @artist.songs.new] do |f| %>

<ul>
   <% @song.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
</ul>

  <div class="form-group">
    <label>Song title</label>
    <%= f.text_field :title, placeholder: "example: Hakuna Matata", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Release date</label>
    <%= f.date_select :release_date, class: 'form-control' %>
  </div>




  <label>Add this song?</label>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>

  </div>
<% end %>
